<section class="padding-110px-tb bg-white builder-bg xs-padding-60px-tb" id="feature-section2">
    <div class="container">
        <div class="row">
            <!-- section title -->
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <h2 class="section-title-large sm-section-title-medium xs-section-title-large text-dark-gray font-weight-600 alt-font margin-three-bottom xs-margin-fifteen-bottom tz-text">Dicas da Jal</h2>
                <div class="text-medium width-60 margin-lr-auto md-width-70 sm-width-100 tz-text margin-thirteen-bottom xs-margin-nineteen-bottom"><!--Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.--></div>
            </div>
            <!-- end section title -->
        {% for post in site.categories.Blog limit:3 %}
            <!-- feature box -->
            <div class="col-md-4 col-sm-4 col-xs-12 xs-margin-twenty-three-bottom xs-text-center">
                <div class="feature-box">
                    <div class="feature-box-image margin-eleven-bottom">
                        <a href="{{ post.url }}"><img alt="{{ post.title }}" src="{{ post.featured_image }}" data-img-size="(W)800px X (H)533px"> </a>
                    </div>
                    <div class="feature-box-details float-left width-100">
                        <a href="{{ post.url }}" class="tz-text font-weight-500 text-dark-gray alt-font margin-six-bottom display-block tz-text">{{ post.title }}</a>
                        <div class="text-medium line-height-24 float-left width-100 tz-text"><p>
                        {{ post.excerpt }}
                        </p></div>
                        <a class="highlight-button-black border-radius-2 btn btn-small" href="{{ post.url }}"><span class="tz-text">Leia mais</span></a>
                    </div>
                </div>
            </div>
            <!-- end feature box -->
        {% endfor %}
        </div>
    </div>
</section>   