<div id="slider-section2">          
    <section id="home2" class="no-padding slider-style2 border-none">
        <style>
                .owl-carousel .owl-wrapper-outer{
                    max-height: 500px;
                }
                
                @media (min-width: 760px){
                    .margin-60-top{margin-top: -60% !important}
                }
                @media (max-width: 759px){
                    .margin-60-top{margin-top: 0% !important}
                }
        </style>
        <div class="owl-slider-full owl-carousel owl-theme light-pagination xs-no-owl-buttons">
            <!-- slider item -->
            <div class="item owl-bg-img tz-builder-bg-image cover-background" id="tz-bg-4" data-img-size="(W)1920px X (H)994px" style="background: url('images/uploads/banner-institucional-julho.png')">
                <div class="container one-sixth-screen xs-one-second-screen position-relative">
                    <div class="col-md-7 col-sm-10 col-xs-12 margin-lr-auto slider-typography text-center">
                        <div class="slider-text-middle-main">
                            <div class="slider-text-middle">
                                <div class="title-extra-large-9 font-weight-600 text-golden-yellow margin-60-top alt-font slider-title tz-text" id="tz-slider-text13"><img class="xs-center-col" src="images/uploads/capa-banner-layer.png"></div>
                                <div class="text-extra-large text-light-gray font-weight-400 margin-twelve-bottom xs-margin-twenty-bottom slider-text xs-title-small tz-text width-85 xs-width-95 margin-lr-auto" id="tz-slider-text14"> <p> </p> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end slider item -->
            <!-- slider item ->
            <div class="item owl-bg-img tz-builder-bg-image cover-background" id="tz-bg-4" data-img-size="(W)1920px X (H)994px" style="background: url('images/uploads/dica-banner.png')">
                <div class="container one-sixth-screen xs-one-second-screen position-relative">
                    <div class="col-md-7 col-sm-10 col-xs-12 margin-lr-auto slider-typography text-center">
                        <div class="slider-text-middle-main">
                            <div class="slider-text-middle">
                                <div class="title-extra-large-9 font-weight-600 text-golden-yellow margin-60-top alt-font slider-title tz-text" id="tz-slider-text13"><img class="xs-center-col" src="images/uploads/dica-banner-layer.png"></div>
                                <div class="text-extra-large text-light-gray font-weight-400 margin-twelve-bottom xs-margin-twenty-bottom slider-text xs-title-small tz-text width-85 xs-width-95 margin-lr-auto" id="tz-slider-text14"> <p> </p> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <-- end slider item -->
            <!-- slider item -->
            <div class="item owl-bg-img tz-builder-bg-image cover-background" id="tz-bg-4" data-img-size="(W)1920px X (H)994px" style="background: url('/uploads/banner-jal.png')">
                <div class="container one-sixth-screen xs-one-second-screen position-relative">
                    <div class="col-md-7 col-sm-10 col-xs-12 margin-lr-auto slider-typography text-center">
                        <div class="slider-text-middle-main">
                            <div class="slider-text-middle">
                                <div class="title-extra-large-9 font-weight-600 text-golden-yellow margin-60-top alt-font slider-title tz-text" id="tz-slider-text13"></div>
                                <div class="text-extra-large text-light-gray font-weight-400 margin-twelve-bottom xs-margin-twenty-bottom slider-text xs-title-small tz-text width-85 xs-width-95 margin-lr-auto" id="tz-slider-text14"> <p> </p> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end slider item -->
            <!-- slider item -->
            <div class="item owl-bg-img tz-builder-bg-image cover-background" id="tz-bg-4" data-img-size="(W)1920px X (H)994px" style="background: url('images/uploads/banner-contatos-julho.png')">
                <div class="container one-sixth-screen xs-one-second-screen position-relative">
                    <div class="col-md-7 col-sm-10 col-xs-12 margin-lr-auto slider-typography text-center">
                        <div class="slider-text-middle-main">
                            <div class="slider-text-middle">
                                <div class="title-extra-large-9 font-weight-600 text-golden-yellow margin-60-top alt-font slider-title tz-text" id="tz-slider-text13"><img class="xs-center-col" src="images/uploads/banner-contatos-julho-txt.png"></div>
                                <div class="text-extra-large text-light-gray font-weight-400 margin-twelve-bottom xs-margin-twenty-bottom slider-text xs-title-small tz-text width-85 xs-width-95 margin-lr-auto" id="tz-slider-text14"> <p> </p> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end slider item -->        
        </div>
    </section>                
</div>

